<configuration>
<pages>
        <page id="102288102726555" name="rasa-test">
            <access-token>EAARNZCcaDvOsBABdSYEoWpNOzmsSPFiO8Q6UKiFp794jgJa3Vgayu4rDi7B12zVziTdQVT0tAhKBENed8EVZBHpQJAtlR0QDqo6oxzMSWkaSaDnzG0cYvbF6ZCJyc61bQhlvrezmdU3p5ZBxgWOi84REctD9CCax4kROh8bNetgfhOGEZBFOH</access-token>
            <maintenance-text></maintenance-text>
            <maintenance-mode>off</maintenance-mode>
            <operation>2</operation>
            <url>https://dfaf-202-70-46-20.jp.ngrok.io/webhooks/facebook/webhook</url>
        </page>
        <page id="442349245787583" name="unitel">
            <access-token>EAAhcipyDxDMBACFQ18Dfv5TjimH8mxzAtT6LPIrvl6ZAoWFjYGFJo9qnGzIJZAPNtZBdEak7LZAw3Fzi183bJCcRybuI3qub8jbRIlg1khhsPZBB9iQ0uaBl0vicMTH4cKGljxDtmRYUQIQebMBYgE8n9jSnZA4WODzjVKWVZBpEyvIPpJQ1O7dBoFLpDAlZCnDKvtlAKvf2YQZDZD</access-token>
            <maintenance-text></maintenance-text>
            <maintenance-mode>off</maintenance-mode>
            <operation>2</operation>
            <url>http://10.21.68.25:5007/webhooks/facebook/webhook</url>
        </page>
        <page id="146686400039" name="univision">
            <access-token></access-token>
            <maintenance-text></maintenance-text>
            <maintenance-mode>off</maintenance-mode>
            <operation>1</operation>
            <url>http://10.21.68.25:5009/webhooks/facebook/webhook</url>
        </page>
        <page id="1275157162502962" name="ger">
            <access-token></access-token>
            <maintenance-text></maintenance-text>
            <maintenance-mode>off</maintenance-mode>
            <operation>1</operation>
            <url>http://10.21.68.25:5005/webhooks/facebook/webhook</url>
        </page>
        <page id="657833644358715" name="looktv">
            <access-token></access-token>
            <maintenance-text></maintenance-text>
            <maintenance-mode>off</maintenance-mode>
            <operation>1</operation>
            <url>http://10.21.68.25:5006/webhooks/facebook/webhook</url>
        </page>
        <page id="106972872092049" name="ubot">
            <access-token></access-token>
            <maintenance-text></maintenance-text>
            <maintenance-mode>off</maintenance-mode>
            <operation>1</operation>
            <url></url>
        </page>
</pages>
</configuration>